<?xml version="1.0" encoding="UTF-8" ?>

<configuration>
  <serviceUrl>http://172.18.2.244:8087</serviceUrl>
  <dataType>0</dataType> <!--0 :xml 1 :json-->
  
  <message>
   <account>ibm123</account>
	<password>456.com</password>
	<msgId></msgId>
	<phones>15000436594</phones>
	<content>您好，您的手机验证码为：430237。</content>
    <sign>【大汉三通】</sign>
	<subcode></subcode>
	<sendtime>201405051230</sendtime>
 </message>
 </configuration>


